In [1]:
print('hello python')

for x in range(3):
    print(x)

hello python
0
1
2

In [5]:
# 数据分析示例
import pandas as pd
import numpy as np

# 创建随机数据
data = np.random.randn(5, 3)
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

# 显示数据
df

# 计算统计信息
df.describe()

              A         B         C
count  5.000000  5.000000  5.000000
mean   0.581063  0.014666 -0.307087
std    1.611294  1.007500  0.838806
min   -1.142573 -1.358661 -1.294617
25%   -1.097164 -0.478942 -0.855221
50%    1.028168  0.159725 -0.494754
75%    1.930962  0.413504  0.458254
max    2.185922  1.337706  0.650904

In [10]:
lst = [2, 1, 3, 9, 5]

for val in lst:   # 遍历元素
    print(val)

for idx, val in enumerate(lst):   # idx 从 0 开始
    print(idx, val)

print(sorted(lst))

print(lst)

2
1
3
9
5
0 2
1 1
2 3
3 9
4 5
[1, 2, 3, 5, 9]
[2, 1, 3, 9, 5]

In [14]:
import random

# 打印 0 - 1 之间的一个小数
print(random.random())
# 生成首尾区间的一个随机整数
print(random.randint(1, 3))
# 获取列表中的一个随机元素 
print(random.choice([1, 2, 3]))

li = [1,2,3,5,6,7]
random.shuffle(li)
print(li)

0.4828432187339874
3
1
[2, 1, 7, 3, 5, 6]

In [ ]:
import re

print(re.match(r'\d+', '1998'))
print(re.match(r'1\d{10}', '13566789900'))

<re.Match object; span=(0, 4), match='1998'>
<re.Match object; span=(0, 11), match='13566789900'>

In [1]:
import time

# 打印时间戳，从 1970年1月1日（UTC/GMT的午夜）开始所经过的秒数
print(time.time())
# 打印当地时间
print(time.localtime())
# 打印指定格式的时间
print(time.strftime('%Y-%m-%d %H:%M:%S'))

1769231928.4449315
time.struct_time(tm_year=2026, tm_mon=1, tm_mday=24, tm_hour=13, tm_min=18, tm_sec=48, tm_wday=5, tm_yday=24, tm_isdst=0)
2026-01-24 13:18:48