In [1]:
print('hello python')

for x in range(3):
    print(x)

hello python
0
1
2

In [5]:
# 数据分析示例
import pandas as pd
import numpy as np

# 创建随机数据
data = np.random.randn(5, 3)
df = pd.DataFrame(data, columns=['A', 'B', 'C'])

# 显示数据
df

# 计算统计信息
df.describe()

              A         B         C
count  5.000000  5.000000  5.000000
mean   0.581063  0.014666 -0.307087
std    1.611294  1.007500  0.838806
min   -1.142573 -1.358661 -1.294617
25%   -1.097164 -0.478942 -0.855221
50%    1.028168  0.159725 -0.494754
75%    1.930962  0.413504  0.458254
max    2.185922  1.337706  0.650904

In [14]:
lst = [2, 1, 3, 9, 5]

for val in lst:   # 遍历元素
    print(val)

for idx, val in enumerate(lst):   # idx 从 0 开始
    print(idx, val)

print(sorted(lst))

print(lst)

2
1
3
9
5
0 2
1 1
2 3
3 9
4 5
[1, 2, 3, 5, 9]
[2, 1, 3, 9, 5]